<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loginscreen">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="nav"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginScreen">
        <activity android:name=".ClientOptionOverweight"></activity>
        <activity android:name=".ClientOptionWeightLoss" />
        <activity android:name=".ActivityHomePage" />
        <activity android:name=".BarCode" />
        <activity android:name=".AlternativeDietPlanScreens" />

        <activity android:name=".ScanBarCodeScreen" />
        <activity android:name=".Attenttion" />
        <activity android:name=".QuizCompletion" />
        <activity android:name=".ClientZ" />
        <activity android:name=".ClientQ" />
        <activity android:name=".ClientQu" />
        <activity android:name=".ClientOption" />
        <activity android:name=".ClintQui" />
        <activity android:name=".ClientQuiz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserOption" />
        <activity android:name=".DieticianOption" />
    </application>

</manifest>