<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginscreen">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="nav"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginScreen"
        tools:ignore="ExtraText">
        tools:ignore="HardcodedDebugMode">
        <activity android:name=".activity_profile_dietitian"/>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.LoginScreen.NoActionBar" />
        <activity android:name=".ProfileScreen" />
        <activity android:name=".DieticianPS"/>
        <activity android:name=".DieticianChatScreen" />
        <activity android:name=".ClientHomeScreen" />
        <activity android:name=".ClientOptionOverweight" />
        <activity android:name=".ClientOptionWeightLoss" />
        <activity android:name=".ActivityHomePage" />
        <activity android:name=".CompleteDietPlanScreen2" />
        <activity android:name=".EndOfDietPlanScreen" />
        <activity android:name=".CompleteDietPlanScreen" />
        <activity android:name=".AlternativeDietPlanCompletionScreen" />
        <activity android:name=".BarCode" />
        <activity android:name=".AlternativeDietPlanScreens" />
        <activity android:name=".ScanBarCodeScreen" />
        <activity android:name=".Attenttion" />
        <activity android:name=".QuizCompletion" />
        <activity android:name=".ClientZ" />
        <activity android:name=".ClientQ" />
        <activity android:name=".ClientQu" />
        <activity android:name=".ClientOption" />
        <activity android:name=".ClintQui" />
        <activity android:name=".ClientQuiz" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserOption" />
        <activity android:name=".DieticianOption" />
    </application>

</manifest>


